body{
    Font-size: 0.8125em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:hsl(0, 0%, 81%);
    background-color:hsl(212, 44%, 95%);
    /*hsl(212, 44%, 95%)*/

}
.container{
    height: 100vh;
    width: 85vw;
    display: grid;
    justify-content: center;/*center the thing*/
    align-content:center; 
    grid-template-columns: 1fr 1fr 1fr; /* split into 3 columsn % or fr*/ 
    grid-template-rows: 1fr 1fr ;
    column-gap:2em;
    row-gap:2em;
    /*grid gap 1 em for both upper things*/
    position: relative;
    top:20vh;
    left:14vw;
}

.circle-img{

border-radius:50%;
height: 4vh;
width:2vw;
}
.circle-img-2{
border:3px solid hsl(263, 32%, 62%);
border-radius:50%;
height: 4vh;
width:2vw;
}

.u-i-b-text-pos-s{
    position: relative;
    bottom:2.5vh;
    left:5vw;
   }
.u-i-b-text-pos{
    position: relative;
    bottom:3.5vh;
    left:6vw;
    
   }
   .sm-p{
       font-size:0.86em;
       position: relative;
       bottom:1.2vh;
   }
 
   .u-i-b-text-pos-l{
    position: relative;
    bottom:2.5vh;
    left:5vw;
   }
   .upper-inner-block-s{
    position: relative;
    top: 3.5vh;
    left:2vw;
    display:flex;
    
}

.upper-inner-block{
    position: relative;
    top: 3vh;
    left:2.6vw;
    display:flex;
    
}
.upper-inner-block-xl{
    position: relative;
    top: 3.5vh;
    left:2vw;
    display:flex;  
}
.inner-block-s{
    display: inline-block;
    margin: 3vw;
    overflow: auto;  
    position: relative;
    bottom:11vh;
    
}
.inner-block{
    display: inline-block;
    margin: 2vw;
    overflow: auto;  
    position: relative;
    bottom:9vh;
    
}
.inner-block-md{
    display: inline-block;
    margin: 3vw;
    overflow: auto;  
    position: relative;
    bottom:12vh;
}
.w-box{
  color:black;
}

.one{
    background-image:url(images/bg-pattern-quotation.svg);
    background-position: left 22vw top 0vh;
    background-repeat: no-repeat;
    background-size: 14vh;
    background-color:hsl(263, 55%, 52%);
    height:30vh;
    width:36vw; 
    border-radius: 1vh;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
    
}
.two{
    background-color:hsl(217, 19%, 35%);
    height:30vh;
    width: 20vw;
    position: relative;
    left:1vw;
    border-radius: 1vh;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
   
}
.three{
    background-color:hsl(0, 0%, 100%);
    height:64vh;
    width: 20vw;
    position: relative;
    right:14vw;
    border-radius: 1vh;
    overflow: auto;
    box-shadow:1px 1px 10px lightgrey;
   
}
.four{
    background-color:hsl(0, 0%, 100%);
    height:30vh;
    width:20vw; 
    position: relative;
    bottom: 33vh;
    border-radius:1vh;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);

}
.five{
    background-color:hsl(219, 29%, 14%);
    height:30vh;
    width: 36vw;
    position:relative;
    right:15vw;
    bottom:33vh;
    border-radius:1vh;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
    
}
/*cell media query*/
@media screen and (max-width:376px) {
    body{
       
        padding-top:10vh;
        padding-bottom: 180vh;
    }
    .container{
        height:100vh;
        width:20vw;
        grid-template-columns: 1fr; /* split into 3 columsn % or fr*/ 
        grid-gap:0.5em;
        /*grid gap 1 em for both upper things*/
        left:38vw;
        
    }
    .circle-img{   
        height:4.8vh;
        width:8vw;
    }
    .circle-img-2{
       
        height: 4.8vh;
        width:8vw;
        }
    .inner-block-s{
        margin: 8vw;
        bottom:8vh;
        
    }
    .inner-block{
        margin: 8vw; 
        bottom:2vh;
        
    }
    .inner-block-md{
       
        margin: 8.5vw;
        bottom:9vh;
    }
        
        .upper-inner-block{  
            top:4vh;
            left:8vw; 
        }
        .upper-inner-block-s{   
            top:4vh;
            left:8vw; 
        }
        .upper-inner-block-xl{
            top:4vh;
            left:8vw; 
        }
        
        .u-i-b-text-pos{
            bottom:3vh;
            left:21vw;
           }
           .u-i-b-text-pos-s{
            bottom:3vh;
            left:21vw;
           }
           .u-i-b-text-pos-l{
            bottom:2.5vh;
            left:19vw;
           }
           .sm-p{
            font-size:0.86em;
            position: relative;
            bottom:1.6vh;
        }
      

    .one{
        background-position: left 60vw top 0vh;
        background-size:15vh;
        height:60vh;
        width:92vw; 
        position: relative;
        top:49vh;
        left:0vh;
        
    }
    .two{
        width:92vw;
        top:52vh;
        left:0vw; 
    }
    .three{
       /*last*/
        height:70vh;
        width: 92vw;
        top:151vh;
        left:0vh;        
    }
    .four{
        height:30vh;
        width:92vw; 
        bottom:16vh;
        left:0vh;    
    }
    .five{
       /*fourth*/
        height:60vh;
        width: 92vw;
        left:0vh;
        bottom:14vh;  
    }
    
}

