body{
    Font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color:hsl(0, 0%, 81%);
    background-color:hsl(212, 44%, 95%);

}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;/*center the thing*/
    align-content:center; 
    grid-template-columns: 1fr 1fr 1fr; /* split into 3 columsn % or fr*/ 
    grid-template-rows: 1fr 1fr ;
    column-gap:2em;
    row-gap:2em;
    /*grid gap 1 em for both upper things*/
    position: relative;
    top:20vh;
    left:10%;
}

.circle-img{
border-radius:50%;
height: 4.1vh;
width:2.7vw;
}
.circle-img-lg{
    border-radius:50%;
    height: 4vh;
    width:2.7vw;
}

.l-img-pos{
    position: relative;
    right:40%;
}

.xl-img-pos{
    position: relative;
    top: 0px;
    right:40%;
}

.u-i-b-text-pos-s{
    position: relative;
    bottom:4%;
    left:25%;
   }
.u-i-b-text-pos{
    position: relative;
    bottom:4%;
    left:19%;
   }
   
   .u-i-b-text-pos-l{
    position: relative;
    top:3.5%;
    left:27%;
   }

.upper-inner-block{
    position: relative;
    top: 12%;
    left:10%;
    display:flex;
    
}
.upper-inner-block-xl{
    position: relative;
    top: 11%;
    left:10%;
    display:flex;  
}
.inner-block-s{
    display: inline-block;
    margin: 6%;
    overflow: auto;  
    position: relative;
    bottom:10%;
    
}
.inner-block{
    display: inline-block;
    margin: 6%;
    overflow: auto;  
    
}
.inner-block-md{
    display: inline-block;
    margin: 6%;
    overflow: auto;  
    position: relative;
    bottom:16%;
}
.w-box{
  color:black;
}

.one{
    background-image:url(/images/bg-pattern-quotation.svg);
    background-position: left 80% top 0%;
    background-repeat: no-repeat;
    background-size: 13vh;
    background-color:hsl(263, 55%, 52%);
    height:30vh;
    width:130%; 
    border-radius: 3%;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
    
}
.two{
    background-color:hsl(217, 19%, 35%);
    height:30vh;
    width: 70%;
    position: relative;
    left:30%;
    border-radius: 3%;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
   
}
.three{
    background-color:hsl(0, 0%, 100%);
    height:61.5vh;
    width: 70%;
    position: relative;
    border-radius: 3%;
    overflow: auto;
    box-shadow:1px 1px 10px lightgrey;
   
}
.four{
    background-color:hsl(0, 0%, 100%);
    height:30vh;
    width:70%; 
    position: relative;
    bottom: 32vh;
    border-radius: 3%;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);

}
.five{
    background-color:hsl(219, 29%, 14%);
    height:29.5vh;
    width: 130%;
    position:relative;
    right:30%;
    bottom:32vh;
    border-radius:3%;
    overflow: auto;
    box-shadow:1px 1px 10px hsl(218, 13%, 24%);
    
}
/*cell media query*/
@media screen and (max-width:376px) {
    .container{
        height:100%;
        width:75vw;
        grid-template-columns: 1fr; /* split into 3 columsn % or fr*/ 
        grid-gap:0.5em;
        /*grid gap 1 em for both upper things*/
        
    }
    .circle-img{   
        height:4.8vh;
        width:8vw;
    }
        .circle-img-lg{  
            height:4.7vh;
            width:8vw;
        }
        .upper-inner-block{  
            bottom:40%;
            left:9%; 
        }
        .upper-inner-block-s{   
            top:23%;
            left:9%; 
        }
        .upper-inner-block-xl{
            top:70%;
            left:9%; 
        }
        .l-img-pos{

            top: 7%;
            right:25%;
        }
        .xl-img-pos{
            top: 13.5%;
        }
        .u-i-b-text-pos{
            bottom:4%;
            left:27%;
           }
           .u-i-b-text-pos-s{
            bottom:0%;
            left:28%;
           }
           .u-i-b-text-pos-l{
            top:4%;
            left:28%;

           }

    .one{
        background-position: left 93% top 0%;
        background-size:35%;
        height:60vh;
        width:92vw; 
        position: relative;
        bottom:1%;
        left:2%;
        margin-top: 15%;
        
    }
    .two{
        
        width: 92vw;
        top:2%;
        left:2%;
        
    }
    .three{
       /*last*/
        height:70vh;
        width: 92vw;
        top:88%;
        left:2%;
               
    }
    .four{
        
        height:30vh;
        width:92vw; 
        bottom:350%;
        left:2%;    
    }
    .five{
       /*fourth*/
        height:60vh;
        width: 92vw;
        left:2%;
        bottom:172%;
        
        
    }
    
}

